# Data Wrangling for datasets | ADSE 2025

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings
sns.set(style='whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

In [13]:
Anemia_U5 = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\API_SH.ANM.CHLD.ZS_DS2_en_csv_v2_104143\PVA_U5.csv', skiprows=4)
Anemia_U5.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,54.172067,54.293680,54.361880,54.445964,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.900000,44.200000,44.500000,44.900000,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500043,70.826525,69.992481,69.070796,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Prevalence of anemia among children (% of chil...,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.900000,62.100000,62.300000,62.400000,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
GINI = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\ADSE\datasets\API_SI.POV.GINI_DS2_en_csv_v2_131994\GINI Index.csv', skiprows=4)
GINI.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN