# Finals Review

This review for CPE311 final exams aims to cover Stefanie Molin's book, Hands-On Data Analysis with Pandas.

In [6]:
#importing a dataset via  numpy
import numpy as np
data = np.genfromtxt(
    r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\Finals_Review\Hands-On-Data-Analysis-with-Pandas-2nd-edition-master\ch_02\data\example_data.csv',
    delimiter=';',
    names=True,
    dtype=None,
    encoding='utf-8'  # fixed encoding
)
print(data)

[('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1)
 ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0)
 ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0)
 ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0)
 ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)]

In [7]:
data.shape

(5,)

In [ ]:
import pandas as pd
#Use a raw string to fix the backslashes
earthquakes = pd.read_csv(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\Finals_Review\Hands-On-Data-Analysis-with-Pandas-2nd-edition-master\ch_02\data\earthquakes.csv')

earthquakes.head()

In [14]:
import datetime as dt
import numpy as np
import pandas as pd

pd.DataFrame(
    {
        'food': [30,40,50],
        'grocery': [400,500,550],
        'bill': [1090,1100,890]
     }
)

   food  grocery  bill
0    30      400  1090
1    40      500  1100
2    50      550   890

In [ ]:
#create df from dictionary of lists
np.random.seed(0) # set seed so result is reproducible
pd.DataFrame(
    #column name: [row values]
    {
        'random': np.random.rand(5),
        'text': ['hot', 'warm', 'cool', 'cold', None],
        'truth': [np.random.choice([True, False]) for _ in range(5)]
    }, 
    index=pd.date_range(
        end=dt.date(2019, 4, 21),
        freq='1D',
        periods=5, 
        name='date'
    )
)

              random  text  truth
date
2019-04-17  0.548814   hot  False
2019-04-18  0.715189  warm   True
2019-04-19  0.602763  cool   True
2019-04-20  0.544883  cold  False
2019-04-21  0.423655  None   True

In [ ]:
# create df from lists of dictionaries
pd.DataFrame([
    {'mag': 5.2, 'place': 'California'},
    {'mag': 1.2, 'place': 'Alaska'},
    {'mag': 0.2, 'place': 'California'},
])

   mag       place
0  5.2  California
1  1.2      Alaska
2  0.2  California

In [20]:
list_of_tuples = [(n, n**2, n**3) for n in range(5)]
list_of_tuples

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [18]:
pd.DataFrame(
    list_of_tuples, 
    columns=['n', 'n_squared', 'n_cubed']
)

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [21]:
import sqlite3

with sqlite3.connect(r'C:\Users\Leon Pascual\Documents\GitHub\CPE311_Computational-Thinking-with-Python\Final\Finals_Review\Hands-On-Data-Analysis-with-Pandas-2nd-edition-master\ch_02\data\quakes.db') as connection:
    tsunamis = pd.read_sql('SELECT * FROM tsunamis', connection)

tsunamis.head()

,alert,type,title,place,magType,mag,time
0,None,earthquake,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...","165km NNW of Flying Fish Cove, Christmas Island",mww,5.0,1539459504090
1,green,earthquake,"M 6.7 - 262km NW of Ozernovskiy, Russia","262km NW of Ozernovskiy, Russia",mww,6.7,1539429023560
2,green,earthquake,"M 5.6 - 128km SE of Kimbe, Papua New Guinea","128km SE of Kimbe, Papua New Guinea",mww,5.6,1539312723620
3,green,earthquake,"M 6.5 - 148km S of Severo-Kuril'sk, Russia","148km S of Severo-Kuril'sk, Russia",mww,6.5,1539213362130
4,green,earthquake,"M 6.2 - 94km SW of Kokopo, Papua New Guinea","94km SW of Kokopo, Papua New Guinea",mww,6.2,1539208835130

pd.read_csv - for csv files
pd.read_excel - for xslx files
pd.read_json - for json files
pd.read_html - for html files
pd.read_parquet - for parquet files

pd.read_sql('SELECT * FROM table_name', connection) - for sql .db files
    • make sure you have 
    "with sqlite3.connect('location of .db file') as connection:
beforehand

In [23]:
#get data from an API
import datetime as dt
import pandas as pd
import requests

yesterday = dt.date.today() - dt.timedelta(days=1)
api = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
#This sets the query window to the last 30 days (excluding today)
payload = {
    'format': 'geojson',
    'starttime': yesterday - dt.timedelta(days=30),
    'endtime': yesterday
}
#Makes a GET request to the USGS API, passing the payload as query parameters
response = requests.get(api, params=payload)

# let's make sure the request was OK
response.status_code

200

In [24]:
earthquake_json = response.json()
earthquake_json.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [25]:
earthquake_json['metadata']

{'generated': 1747291475000,
 'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2025-04-14&endtime=2025-05-14',
 'title': 'USGS Earthquakes',
 'status': 200,
 'api': '1.14.1',
 'count': 9747}

In [26]:
type(earthquake_json['features'])

list

In [27]:
earthquake_json['features'][0]

{'type': 'Feature',
 'properties': {'mag': 1.6,
  'place': '2 km SSW of La Mirada, CA',
  'time': 1747180756550,
  'updated': 1747204054704,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/ci41152424',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci41152424&format=geojson',
  'felt': 1,
  'cdi': 1,
  'mmi': None,
  'alert': None,
  'status': 'automatic',
  'tsunami': 0,
  'sig': 39,
  'net': 'ci',
  'code': '41152424',
  'ids': ',ci41152424,',
  'sources': ',ci,',
  'types': ',dyfi,nearby-cities,origin,phase-data,scitech-link,',
  'nst': 22,
  'dmin': 0.0304,
  'rms': 0.25,
  'gap': 123,
  'magType': 'ml',
  'type': 'earthquake',
  'title': 'M 1.6 - 2 km SSW of La Mirada, CA'},
 'geometry': {'type': 'Point', 'coordinates': [-118.022, 33.9003333, 12.01]},
 'id': 'ci41152424'}

In [28]:
earthquake_properties_data = [
    quake['properties'] for quake in earthquake_json['features']
]
df = pd.DataFrame(earthquake_properties_data)
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,1.60,"2 km SSW of La Mirada, CA",1747180756550,1747204054704,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.0,1.0,NaN,...,",ci41152424,",",ci,",",dyfi,nearby-cities,origin,phase-data,scitech-...",22.0,0.03040,0.2500,123.00,ml,earthquake,"M 1.6 - 2 km SSW of La Mirada, CA"
1,-0.12,"65 km WNW of Beluga, Alaska",1747180234500,1747186871610,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av93605831,",",av,",",origin,phase-data,",8.0,0.06745,0.1500,122.00,ml,earthquake,"M -0.1 - 65 km WNW of Beluga, Alaska"
2,1.60,"10 km E of Sparks, Nevada",1747180166992,1747181226880,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nn00897571,",",nn,",",origin,phase-data,",11.0,0.13400,0.2277,158.01,ml,explosion,"M 1.6 Explosion - 10 km E of Sparks, Nevada"
3,2.03,"2 km SW of Guánica, Puerto Rico",1747179900690,1747180349180,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",pr71482353,",",pr,",",origin,phase-data,",5.0,0.04831,0.0500,209.00,md,earthquake,"M 2.0 - 2 km SW of Guánica, Puerto Rico"
4,-0.20,"62 km WNW of Tyonek, Alaska",1747179294040,1747186609780,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av93605821,",",av,",",origin,phase-data,",7.0,0.03571,0.0700,244.00,ml,earthquake,"M -0.2 - 62 km WNW of Tyonek, Alaska"

In [37]:
import requests
import pandas as pd

api_key = '009fe76653cfe41208f2af9666d0ceb4'
base_url = 'https://api.openweathermap.org/data/2.5/weather'

cities = ['New York', 'Los Angeles']


weather_data = []

for city in cities:
    params = {
        'q': city,
        'appid': api_key,
        'units': 'metric'  # To get Celsius instead of Kelvin
    }
    response = requests.get(base_url, params=params)
    
    if response.status_code == 200:
        data = response.json()
        weather_data.append({
            'city': city,
            'temperature': data['main']['temp'],
            'humidity': data['main']['humidity'],
            'weather': data['weather'][0]['description']
        })
    else:
        print(f"Failed to get data for {city}. Status code: {response.status_code}")

df = pd.DataFrame(weather_data)
print(df)

Failed to get data for New York. Status code: 401
Failed to get data for Los Angeles. Status code: 401
Empty DataFrame
Columns: []
Index: []