In [ ]:
[Github](

# Seatwork 7.2 Programming Exercise: Data Wrangling with Pandas - Part 2

## Exercise Part 4

1. Using the meteorite data from the Meteorite_Landings.csv file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint: Be sure to convert the year column to a number as we did in the previous exercise.

In [40]:
import pandas as pd
import numpy as np
meteorites = pd.read_csv('datasets/Meteorite_Landings.csv')

In [41]:
# Extracting and converting 'year' column
meteorites[['time_date', 'time_exact']] = meteorites['year'].str.split(' ', n=1, expand=True)
meteorites[['month', 'day', 'year']] = meteorites['time_date'].str.split('/', n=2, expand=True)
meteorites['year'] = pd.to_numeric(meteorites['year'], errors='coerce').fillna(0).astype(int)
meteorites.drop(columns='time_date', inplace=True)

In [32]:
meteorites.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,time_exact,month,day
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775, 6.08333)",12:00:00 AM,01,01
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.18333, 10.23333)",12:00:00 AM,01,01
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.21667, -113.0)",12:00:00 AM,01,01
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.88333, -99.9)",12:00:00 AM,01,01
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.16667, -64.95)",12:00:00 AM,01,01

In [42]:
meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year             int32
reclat         float64
reclong        float64
GeoLocation     object
time_exact      object
month           object
day             object
dtype: object

In [43]:
pivot = pd.pivot_table(
                        meteorites, 
                        index='fall', 
                        values='mass (g)', 
                        aggfunc=[len, lambda x: np.percentile(x, 95)]
)
pivot.columns = ['# of Meteorites', '95th Percentile Mass (g)']

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [37]:
pivot.head()

     count         <lambda>
fall  Fell  Found      Fell Found
year
0      NaN  275.0       NaN   NaN
860    1.0    NaN     472.0   NaN
920    0.0    NaN       NaN   NaN
1399   1.0    NaN  107000.0   NaN
1490   1.0    NaN     103.3   NaN

2. Using the meteorite data from the Meteorite_Landings.csv file, compare summary statistics of the mass column for the meteorites that were found versus observed falling.

## Exercise Part 5

1. Using the taxi trip data in the 2019_Yellow_Taxi_Trip_Data.csv file, resample the data to an hourly frequency based on the dropoff time. Calculate the total trip_distance, fare_amount, tolls_amount, and tip_amount, then find the 5 hours with the most tips.