[Github link for this notebook(T_T)](https://github.com/KenPascual/CPE311_Computational-Thinking-with-Python/blob/main/Midterm/Seatwork%207.2.ipynb)

# Seatwork 7.2 Programming Exercise: Data Wrangling with Pandas - Part 2

## Exercise Part 4

1. Using the meteorite data from the Meteorite_Landings.csv file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint: Be sure to convert the year column to a number as we did in the previous exercise.

In [40]:
import pandas as pd
import numpy as np
meteorites = pd.read_csv('datasets/Meteorite_Landings.csv')

In [41]:
# Extracting and converting 'year' column
meteorites[['time_date', 'time_exact']] = meteorites['year'].str.split(' ', n=1, expand=True)
meteorites[['month', 'day', 'year']] = meteorites['time_date'].str.split('/', n=2, expand=True)
meteorites['year'] = pd.to_numeric(meteorites['year'], errors='coerce').fillna(0).astype(int)
meteorites.drop(columns='time_date', inplace=True)

In [32]:
meteorites.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,time_exact,month,day
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775, 6.08333)",12:00:00 AM,01,01
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.18333, 10.23333)",12:00:00 AM,01,01
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.21667, -113.0)",12:00:00 AM,01,01
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.88333, -99.9)",12:00:00 AM,01,01
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.16667, -64.95)",12:00:00 AM,01,01

In [42]:
meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year             int32
reclat         float64
reclong        float64
GeoLocation     object
time_exact      object
month           object
day             object
dtype: object

In [ ]:
pivot = pd.pivot_table(
                        meteorites, 
                        index='fall', 
                        values='mass (g)', 
                        aggfunc=[len, lambda x: np.percentile(x, 95)]
)
pivot.columns = ['# of Meteorites', '95th Percentile Mass (g)']

In [37]:
pivot.head()

     count         <lambda>
fall  Fell  Found      Fell Found
year
0      NaN  275.0       NaN   NaN
860    1.0    NaN     472.0   NaN
920    0.0    NaN       NaN   NaN
1399   1.0    NaN  107000.0   NaN
1490   1.0    NaN     103.3   NaN

2. Using the meteorite data from the Meteorite_Landings.csv file, compare summary statistics of the mass column for the meteorites that were found versus observed falling.

## Exercise Part 5

1. Using the taxi trip data in the 2019_Yellow_Taxi_Trip_Data.csv file, resample the data to an hourly frequency based on the dropoff time. Calculate the total trip_distance, fare_amount, tolls_amount, and tip_amount, then find the 5 hours with the most tips.

In [18]:
import pandas as pd
import numpy as np
taxi = pd.read_csv('datasets/2019_Yellow_Taxi_Trip_Data.csv')
taxi.head(5)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

In [19]:
#take the specified columns needed
filter_taxi = taxi[['fare_amount','tip_amount','tolls_amount','trip_distance','tpep_pickup_datetime','tpep_dropoff_datetime']]

Afterwards, sort the values to see the top 5 trips with the most tips

In [20]:
filter_taxi = filter_taxi.sort_values(by = 'tip_amount', ascending = False)

In [21]:
filter_taxi.head(5)

,fare_amount,tip_amount,tolls_amount,trip_distance,tpep_pickup_datetime,tpep_dropoff_datetime
3304,12.5,43.00,0.0,2.80,2019-10-23T16:14:18.000,2019-10-23T16:30:00.000
4275,2.5,40.00,0.0,0.00,2019-10-23T16:15:25.000,2019-10-23T16:15:32.000
9758,96.0,37.25,27.0,19.50,2019-10-23T17:20:50.000,2019-10-23T18:58:16.000
8868,2.5,36.00,0.0,0.05,2019-10-23T16:49:26.000,2019-10-23T16:52:02.000
7476,5.0,30.03,0.0,0.76,2019-10-23T16:06:34.000,2019-10-23T16:11:22.000

Now, to find the hours, difference between the pickup time and dropoff time needs to be determined. As such, data from the 'tpep_pickup_datetime' and 'tpep_dropoff_datetime' would be utilized.

In [22]:
filter_taxi.dtypes

fare_amount              float64
tip_amount               float64
tolls_amount             float64
trip_distance            float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
dtype: object

Splitting the 'datetime' columns to extract the time part

In [24]:
filter_taxi['time_pickup'] = filter_taxi['tpep_pickup_datetime'].str.split('T').str[1]

In [25]:
filter_taxi['time_dropoff'] = filter_taxi['tpep_dropoff_datetime'].str.split('T').str[1]

In [26]:
filter_taxi.head()

,fare_amount,tip_amount,tolls_amount,trip_distance,tpep_pickup_datetime,tpep_dropoff_datetime,time_pickup,time_dropoff
3304,12.5,43.00,0.0,2.80,2019-10-23T16:14:18.000,2019-10-23T16:30:00.000,16:14:18.000,16:30:00.000
4275,2.5,40.00,0.0,0.00,2019-10-23T16:15:25.000,2019-10-23T16:15:32.000,16:15:25.000,16:15:32.000
9758,96.0,37.25,27.0,19.50,2019-10-23T17:20:50.000,2019-10-23T18:58:16.000,17:20:50.000,18:58:16.000
8868,2.5,36.00,0.0,0.05,2019-10-23T16:49:26.000,2019-10-23T16:52:02.000,16:49:26.000,16:52:02.000
7476,5.0,30.03,0.0,0.76,2019-10-23T16:06:34.000,2019-10-23T16:11:22.000,16:06:34.000,16:11:22.000

Now that the time was extracted, it should be converted to datetime format (from an object) so that arithmetic operation can be done on them (in this case, subtraction).

In [27]:
filter_taxi['time_pickup'] = pd.to_datetime(filter_taxi['time_pickup'], format='%H:%M:%S.%f')

In [28]:
filter_taxi['time_dropoff'] = pd.to_datetime(filter_taxi['time_dropoff'], format='%H:%M:%S.%f')

In [29]:
filter_taxi.dtypes

fare_amount                     float64
tip_amount                      float64
tolls_amount                    float64
trip_distance                   float64
tpep_pickup_datetime             object
tpep_dropoff_datetime            object
time_pickup              datetime64[ns]
time_dropoff             datetime64[ns]
dtype: object

In [37]:
#subtracting pickup time from dropoff time
filter_taxi['hour_diff'] = (filter_taxi['time_dropoff'] - filter_taxi['time_pickup']).dt.total_seconds() / 3600

In [38]:
filter_taxi.head()

,fare_amount,tip_amount,tolls_amount,trip_distance,tpep_pickup_datetime,tpep_dropoff_datetime,time_pickup,time_dropoff,hour_diff
3304,12.5,43.00,0.0,2.80,2019-10-23T16:14:18.000,2019-10-23T16:30:00.000,1900-01-01 16:14:18,1900-01-01 16:30:00,0.261667
4275,2.5,40.00,0.0,0.00,2019-10-23T16:15:25.000,2019-10-23T16:15:32.000,1900-01-01 16:15:25,1900-01-01 16:15:32,0.001944
9758,96.0,37.25,27.0,19.50,2019-10-23T17:20:50.000,2019-10-23T18:58:16.000,1900-01-01 17:20:50,1900-01-01 18:58:16,1.623889
8868,2.5,36.00,0.0,0.05,2019-10-23T16:49:26.000,2019-10-23T16:52:02.000,1900-01-01 16:49:26,1900-01-01 16:52:02,0.043333
7476,5.0,30.03,0.0,0.76,2019-10-23T16:06:34.000,2019-10-23T16:11:22.000,1900-01-01 16:06:34,1900-01-01 16:11:22,0.080000

It can also be expressed in minutes

In [40]:
filter_taxi['minute_diff'] = (filter_taxi['time_dropoff'] - filter_taxi['time_pickup']).dt.total_seconds() / 60

In [41]:
filter_taxi.head()

,fare_amount,tip_amount,tolls_amount,trip_distance,tpep_pickup_datetime,tpep_dropoff_datetime,time_pickup,time_dropoff,hour_diff,minute_diff
3304,12.5,43.00,0.0,2.80,2019-10-23T16:14:18.000,2019-10-23T16:30:00.000,1900-01-01 16:14:18,1900-01-01 16:30:00,0.261667,15.700000
4275,2.5,40.00,0.0,0.00,2019-10-23T16:15:25.000,2019-10-23T16:15:32.000,1900-01-01 16:15:25,1900-01-01 16:15:32,0.001944,0.116667
9758,96.0,37.25,27.0,19.50,2019-10-23T17:20:50.000,2019-10-23T18:58:16.000,1900-01-01 17:20:50,1900-01-01 18:58:16,1.623889,97.433333
8868,2.5,36.00,0.0,0.05,2019-10-23T16:49:26.000,2019-10-23T16:52:02.000,1900-01-01 16:49:26,1900-01-01 16:52:02,0.043333,2.600000
7476,5.0,30.03,0.0,0.76,2019-10-23T16:06:34.000,2019-10-23T16:11:22.000,1900-01-01 16:06:34,1900-01-01 16:11:22,0.080000,4.800000